@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "DM Sans", "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  --primary-color: 219, 230, 254;
  --accent-color: #000;
  --secondary-color: #e3e9f9;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }
}

body {
  min-height: 100vh;
  background: rgb(var(--primary-color));
  color: var(--accent-color);
}

body.light-theme {
  --primary-color: 219, 230, 254;
  --accent-color: #000;
  --secondary-color: #e3e9f9;
}

body.dark-theme {
  --primary-color: 5, 8, 10;
  --accent-color: #fff;
  --secondary-color: #05080a;
}
